@model Categoria

<h3>Cadastro de Categoria</h3>
<form method="post" asp-action="Create" asp-controller="Categoria">

    <input type="hidden" asp-for="@Model.Id" />
    <div class="d-flex" style="gap: 25px">

        <div class="col-md">
            <div>
                <label asp-for="Name" class="form-label"></label>
            </div>

            <div>
                <input type="text" asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div>
        <button class="btn-primary">
            <i class="fa-solid fa-floppy-disk"></i>&nbsp;Salvar
        </button>
    </div>

</form>

@section Scripts {

    <script>

         const mensagem = "@ViewData["Mensagem"]";

         if (mensagem != ""){

                 Swal.fire({
          title: "Salvo com Sucesso!",
          icon: "success",
          draggable: true
        });
         }
    </script>


}